<h1>@ViewData["titulo"]</h1>
<h6>@ViewBag.DataHora</h6>
<!-- Qual a diferença entre 
ViewData -Dicionario
ViewBag - É dinâmico e é ententede o tipo
TempData  - Mantem o valor (SESSÃO)-->

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Titulo Interno</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Titulo Marketing</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Descrição</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<button type="button" class="btn btn-dark">Login</button>
<button type="button" class="btn btn-dark">Cadastro</button>
